<%= form_for([@game, evaluation]) do |f| %>
  <div class="field">
    <%= f.label :r1 %>
    <%= f.radio_button :r1, '1' %>
    <%= f.label :r1_1, '1' %>
    <%= f.radio_button :r1, '2' %>
    <%= f.label :r1_2, '2' %>
    <%= f.radio_button :r1,'3' %>
    <%= f.label :r1_3, '3' %>
    <%= f.radio_button :r1, '4' %>
    <%= f.label :r1_4, '4' %>
    <%= f.radio_button :r1, '5' %>
    <%= f.label :r1_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r2 %>
    <%= f.radio_button :r2, '1' %>
    <%= f.label :r2_1, '1' %>
    <%= f.radio_button :r2, '2' %>
    <%= f.label :r2_2, '2' %>
    <%= f.radio_button :r2,'3' %>
    <%= f.label :r2_3, '3' %>
    <%= f.radio_button :r2, '4' %>
    <%= f.label :r2_4, '4' %>
    <%= f.radio_button :r2, '5' %>
    <%= f.label :r2_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r3 %>
    <%= f.radio_button :r3, '1' %>
    <%= f.label :r3_1, '1' %>
    <%= f.radio_button :r3, '2' %>
    <%= f.label :r3_2, '2' %>
    <%= f.radio_button :r3,'3' %>
    <%= f.label :r3_3, '3' %>
    <%= f.radio_button :r3, '4' %>
    <%= f.label :r3_4, '4' %>
    <%= f.radio_button :r3, '5' %>
    <%= f.label :r3_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r4 %>
    <%= f.radio_button :r4, '1' %>
    <%= f.label :r4_1, '1' %>
    <%= f.radio_button :r4, '2' %>
    <%= f.label :r4_2, '2' %>
    <%= f.radio_button :r4,'3' %>
    <%= f.label :r4_3, '3' %>
    <%= f.radio_button :r4, '4' %>
    <%= f.label :r4_4, '4' %>
    <%= f.radio_button :r4, '5' %>
    <%= f.label :r4_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r5 %>
    <%= f.radio_button :r5, '1' %>
    <%= f.label :r5_1, '1' %>
    <%= f.radio_button :r5, '2' %>
    <%= f.label :r5_2, '2' %>
    <%= f.radio_button :r5,'3' %>
    <%= f.label :r5_3, '3' %>
    <%= f.radio_button :r5, '4' %>
    <%= f.label :r5_4, '4' %>
    <%= f.radio_button :r5, '5' %>
    <%= f.label :r5_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r6 %>
    <%= f.radio_button :r6, '1' %>
    <%= f.label :r6_1, '1' %>
    <%= f.radio_button :r6, '2' %>
    <%= f.label :r6_2, '2' %>
    <%= f.radio_button :r6,'3' %>
    <%= f.label :r6_3, '3' %>
    <%= f.radio_button :r6, '4' %>
    <%= f.label :r6_4, '4' %>
    <%= f.radio_button :r6, '5' %>
    <%= f.label :r6_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r7 %>
    <%= f.radio_button :r7, '1' %>
    <%= f.label :r7_1, '1' %>
    <%= f.radio_button :r7, '2' %>
    <%= f.label :r7_2, '2' %>
    <%= f.radio_button :r7,'3' %>
    <%= f.label :r7_3, '3' %>
    <%= f.radio_button :r7, '4' %>
    <%= f.label :r7_4, '4' %>
    <%= f.radio_button :r7, '5' %>
    <%= f.label :r7_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r8 %>
    <%= f.radio_button :r8, '1' %>
    <%= f.label :r8_1, '1' %>
    <%= f.radio_button :r8, '2' %>
    <%= f.label :r8_2, '2' %>
    <%= f.radio_button :r8,'3' %>
    <%= f.label :r8_3, '3' %>
    <%= f.radio_button :r8, '4' %>
    <%= f.label :r8_4, '4' %>
    <%= f.radio_button :r8, '5' %>
    <%= f.label :r8_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r9 %>
    <%= f.radio_button :r9, '1' %>
    <%= f.label :r9_1, '1' %>
    <%= f.radio_button :r9, '2' %>
    <%= f.label :r9_2, '2' %>
    <%= f.radio_button :r9,'3' %>
    <%= f.label :r9_3, '3' %>
    <%= f.radio_button :r9, '4' %>
    <%= f.label :r9_4, '4' %>
    <%= f.radio_button :r9, '5' %>
    <%= f.label :r9_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r10 %>
    <%= f.radio_button :r10, '1' %>
    <%= f.label :r10_1, '1' %>
    <%= f.radio_button :r10, '2' %>
    <%= f.label :r10_2, '2' %>
    <%= f.radio_button :r10,'3' %>
    <%= f.label :r10_3, '3' %>
    <%= f.radio_button :r10, '4' %>
    <%= f.label :r10_4, '4' %>
    <%= f.radio_button :r10, '5' %>
    <%= f.label :r10_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r11 %>
    <%= f.radio_button :r11, '1' %>
    <%= f.label :r11_1, '1' %>
    <%= f.radio_button :r11, '2' %>
    <%= f.label :r11_2, '2' %>
    <%= f.radio_button :r11,'3' %>
    <%= f.label :r11_3, '3' %>
    <%= f.radio_button :r11, '4' %>
    <%= f.label :r11_4, '4' %>
    <%= f.radio_button :r11, '5' %>
    <%= f.label :r11_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r12 %>
    <%= f.radio_button :r12, '1' %>
    <%= f.label :r12_1, '1' %>
    <%= f.radio_button :r12, '2' %>
    <%= f.label :r12_2, '2' %>
    <%= f.radio_button :r12,'3' %>
    <%= f.label :r12_3, '3' %>
    <%= f.radio_button :r12, '4' %>
    <%= f.label :r12_4, '4' %>
    <%= f.radio_button :r12, '5' %>
    <%= f.label :r12_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r13 %>
    <%= f.radio_button :r13, '1' %>
    <%= f.label :r13_1, '1' %>
    <%= f.radio_button :r13, '2' %>
    <%= f.label :r13_2, '2' %>
    <%= f.radio_button :r13,'3' %>
    <%= f.label :r13_3, '3' %>
    <%= f.radio_button :r13, '4' %>
    <%= f.label :r13_4, '4' %>
    <%= f.radio_button :r13, '5' %>
    <%= f.label :r13_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r14 %>
    <%= f.radio_button :r14, '1' %>
    <%= f.label :r14_1, '1' %>
    <%= f.radio_button :r14, '2' %>
    <%= f.label :r14_2, '2' %>
    <%= f.radio_button :r14,'3' %>
    <%= f.label :r14_3, '3' %>
    <%= f.radio_button :r14, '4' %>
    <%= f.label :r14_4, '4' %>
    <%= f.radio_button :r14, '5' %>
    <%= f.label :r14_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r15 %>
    <%= f.radio_button :r15, '1' %>
    <%= f.label :r15_1, '1' %>
    <%= f.radio_button :r15, '2' %>
    <%= f.label :r15_2, '2' %>
    <%= f.radio_button :r15,'3' %>
    <%= f.label :r15_3, '3' %>
    <%= f.radio_button :r15, '4' %>
    <%= f.label :r15_4, '4' %>
    <%= f.radio_button :r15, '5' %>
    <%= f.label :r15_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r16 %>
    <%= f.radio_button :r16, '1' %>
    <%= f.label :r16_1, '1' %>
    <%= f.radio_button :r16, '2' %>
    <%= f.label :r16_2, '2' %>
    <%= f.radio_button :r16,'3' %>
    <%= f.label :r16_3, '3' %>
    <%= f.radio_button :r16, '4' %>
    <%= f.label :r16_4, '4' %>
    <%= f.radio_button :r16, '5' %>
    <%= f.label :r16_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r17 %>
    <%= f.radio_button :r17, '1' %>
    <%= f.label :r17_1, '1' %>
    <%= f.radio_button :r17, '2' %>
    <%= f.label :r17_2, '2' %>
    <%= f.radio_button :r17,'3' %>
    <%= f.label :r17_3, '3' %>
    <%= f.radio_button :r17, '4' %>
    <%= f.label :r17_4, '4' %>
    <%= f.radio_button :r17, '5' %>
    <%= f.label :r17_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r18 %>
    <%= f.radio_button :r18, '1' %>
    <%= f.label :r18_1, '1' %>
    <%= f.radio_button :r18, '2' %>
    <%= f.label :r18_2, '2' %>
    <%= f.radio_button :r18,'3' %>
    <%= f.label :r18_3, '3' %>
    <%= f.radio_button :r18, '4' %>
    <%= f.label :r18_4, '4' %>
    <%= f.radio_button :r18, '5' %>
    <%= f.label :r18_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r19 %>
    <%= f.radio_button :r19, '1' %>
    <%= f.label :r19_1, '1' %>
    <%= f.radio_button :r19, '2' %>
    <%= f.label :r19_2, '2' %>
    <%= f.radio_button :r19,'3' %>
    <%= f.label :r19_3, '3' %>
    <%= f.radio_button :r19, '4' %>
    <%= f.label :r19_4, '4' %>
    <%= f.radio_button :r19, '5' %>
    <%= f.label :r19_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r20 %>
    <%= f.radio_button :r20, '1' %>
    <%= f.label :r20_1, '1' %>
    <%= f.radio_button :r20, '2' %>
    <%= f.label :r20_2, '2' %>
    <%= f.radio_button :r20,'3' %>
    <%= f.label :r20_3, '3' %>
    <%= f.radio_button :r20, '4' %>
    <%= f.label :r20_4, '4' %>
    <%= f.radio_button :r20, '5' %>
    <%= f.label :r20_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r21 %>
    <%= f.radio_button :r21, '1' %>
    <%= f.label :r21_1, '1' %>
    <%= f.radio_button :r21, '2' %>
    <%= f.label :r21_2, '2' %>
    <%= f.radio_button :r21,'3' %>
    <%= f.label :r21_3, '3' %>
    <%= f.radio_button :r21, '4' %>
    <%= f.label :r21_4, '4' %>
    <%= f.radio_button :r21, '5' %>
    <%= f.label :r21_5, '5' %>
  </div>

  <div class="field">
    <%= f.label :r22 %>
    <%= f.radio_button :r22, '1' %>
    <%= f.label :r22_1, '1' %>
    <%= f.radio_button :r22, '2' %>
    <%= f.label :r22_2, '2' %>
    <%= f.radio_button :r22,'3' %>
    <%= f.label :r22_3, '3' %>
    <%= f.radio_button :r22, '4' %>
    <%= f.label :r22_4, '4' %>
    <%= f.radio_button :r22, '5' %>
    <%= f.label :r22_5, '5' %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar Avaliação', class: 'waves-light btn' %>
  </div>
<% end %>
