<%= form_for([@game, evaluation]) do |f| %>
  <div class="field">
    <%= f.label :r1 %>
    <%= f.number_field :r1, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r2 %>
    <%= f.number_field :r2, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r3 %>
    <%= f.number_field :r3, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r4 %>
    <%= f.number_field :r4, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r5 %>
    <%= f.number_field :r5, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r6 %>
    <%= f.number_field :r6, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r7 %>
    <%= f.number_field :r7, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r8 %>
    <%= f.number_field :r8, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r9 %>
    <%= f.number_field :r9, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r10 %>
    <%= f.number_field :r10, value: 1, min: 1, max: 50 %>
  </div>

  <div class="field">
    <%= f.label :r11 %>
    <%= f.number_field :r11, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r12 %>
    <%= f.number_field :r12, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r13 %>
    <%= f.number_field :r13, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r14 %>
    <%= f.number_field :r14, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r15 %>
    <%= f.number_field :r15, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r16 %>
    <%= f.number_field :r16, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r17 %>
    <%= f.number_field :r17, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r18 %>
    <%= f.number_field :r18, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r19 %>
    <%= f.number_field :r19, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r20 %>
    <%= f.number_field :r20, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r21 %>
    <%= f.number_field :r21, value: 1, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :r22 %>
    <%= f.number_field :r22, value: 1, min: 1, max: 5 %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar Avaliação', class: 'waves-light btn' %>
  </div>
<% end %>
