<h1>Evaluations: <%= $game.name %></h1>

<p> System Quality: <%= Evaluation.system_quality.round(2) %> % </p>
<p> Euclidean Distance from real to ideal system: <%= Evaluation.euclidean_distance.round(2) %> </p>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>

<%= link_to 'New Evaluation', new_game_evaluation_path, class: 'waves-effect waves-light btn' %>

<script type="text/javascript" charset="utf-8">
google.charts.load('current', {packages: ['corechart']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

  var data = new google.visualization.DataTable();
  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Dimensões');
  data.addColumn('number', 'Funcionalidade');
  data.addColumn('number', 'Eficiencia');
  data.addColumn('number', 'Adaptabilidade');

  data.addRows([
      [1,  0, 0, 0],
      [2, <%= Evaluation.funcionality_dimension%>, <%= Evaluation.efficiency_dimension %>, <%= Evaluation.adaptability_dimension %>]
  ]);


  var options = {
    title: 'Qualidade por Dimensão',
    series: {
          0: {targetAxisIndex: 0},
          1: {targetAxisIndex: 1}
        },
    hAxis: {
      title: 'Pontos'
    },
    vAxis: {
      title: '%'
    }
  };

  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

  chart.draw(data, options);
}
</script>
