<div class="container center">
  <h3>Evaluations: <%= @game.name %></h3>
</div>
<div class="container">
  <table>
    <thead>
      <th>Requisito</th>
      <th>Nota</th>
    </thead>
    <tbody>
      <tr>
        <td>Dimensão de Qualidade</td>
        <td><%= @game.funcionality_dimension.nan? ? ' - ' : @game.funcionality_dimension.round(2) %>%</td>
      </tr>
      <tr>
        <td>Dimensão de Eficiência</td>
        <td><%= @game.efficiency_dimension.nan? ? ' - ' : @game.efficiency_dimension.round(2) %>%</td>
      </tr>
      <tr>
        <td>Dimensão de Adaptabilidade</td>
        <td><%= @game.adaptability_dimension.nan? ? ' - ' : @game.adaptability_dimension.round(2) %>%</td>
      </tr>
      <tr>
        <td>Distância Euclidiana</td>
        <td><%= @game.euclidean_distance.nan? ? ' - ' : @game.euclidean_distance.round(2) %></td>
      </tr>
      <tr>
        <td>Qualidade do Sistema</td>
        <td><%= @game.system_quality.nan? ? ' - ' : @game.system_quality.round(2) %>%</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<div id="chart_div"></div>

<div class="container center">
  <%= link_to 'New Evaluation', new_game_evaluation_path, class: 'waves-effect waves-light btn' %>
</div>

<%= render partial: 'evaluation_chart', locals: { game: @game } %>
