<p id="notice"><%= notice %></p>

<p>
  <strong>R1:</strong>
  <%= @evaluation.r1 %>
</p>

<p>
  <strong>R2:</strong>
  <%= @evaluation.r2 %>
</p>

<p>
  <strong>R3:</strong>
  <%= @evaluation.r3 %>
</p>

<p>
  <strong>R4:</strong>
  <%= @evaluation.r4 %>
</p>

<p>
  <strong>R5:</strong>
  <%= @evaluation.r5 %>
</p>

<p>
  <strong>R6:</strong>
  <%= @evaluation.r6 %>
</p>

<p>
  <strong>R7:</strong>
  <%= @evaluation.r7 %>
</p>

<p>
  <strong>R8:</strong>
  <%= @evaluation.r8 %>
</p>

<p>
  <strong>R9:</strong>
  <%= @evaluation.r9 %>
</p>

<p>
  <strong>R10:</strong>
  <%= @evaluation.r10 %>
</p>

<p>
  <strong>R11:</strong>
  <%= @evaluation.r11 %>
</p>

<p>
  <strong>R12:</strong>
  <%= @evaluation.r12 %>
</p>

<p>
  <strong>R13:</strong>
  <%= @evaluation.r13 %>
</p>

<p>
  <strong>R14:</strong>
  <%= @evaluation.r14 %>
</p>

<p>
  <strong>R15:</strong>
  <%= @evaluation.r15 %>
</p>

<p>
  <strong>R16:</strong>
  <%= @evaluation.r16 %>
</p>

<p>
  <strong>R17:</strong>
  <%= @evaluation.r17 %>
</p>

<p>
  <strong>R18:</strong>
  <%= @evaluation.r18 %>
</p>

<p>
  <strong>R19:</strong>
  <%= @evaluation.r19 %>
</p>

<p>
  <strong>R20:</strong>
  <%= @evaluation.r20 %>
</p>

<p>
  <strong>R21:</strong>
  <%= @evaluation.r21 %>
</p>

<p>
  <strong>R22:</strong>
  <%= @evaluation.r22 %>
</p>

<%= link_to 'Back', game_evaluations_path %>
