<% Evaluation.set_game(game.id) %>
<li>
  <div class="collapsible-header"><i class="material-icons">games</i><%= game.name %></div>
  <div class="collapsible-body">
    <div class="container center">
      <h5><%= game.description %></h5>
      <%= link_to game.link %>
    </div>
    <div class="container">
      <table>
        <thead>
          <th>Requisito</th>
          <th>Nota</th>
        </thead>
        <tbody>
          <tr>
            <td>Qualidade do Sistema</td>
            <td><%= Evaluation.system_quality.nan? ? ' - ' : Evaluation.system_quality.round(2) %>%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <div class="container">
      <div class= "row center">
      <%= link_to 'Detalhes', game, class: 'waves-effect waves-light btn' %>
      <%= link_to 'Avaliação', game_evaluations_path(game.id), class: 'waves-effect waves-light btn' %>
      <%= link_to 'Edit', edit_game_path(game), class: 'waves-effect waves-light btn' %>
      <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-red btn' %>
      </div>
    </div>
  </div>
</li>
