<div class="row">
  <h4>Detalhes do Jogo</h4>
  <hr />
</div>
<div class="container">
  <div class="row">
    <strong>Name:</strong>
    <%= @game.name %>
  </div>

  <div class="row">
    <strong>Description:</strong>
    <%= @game.description %>
  </div>

  <div class="row">
    <strong>Link:</strong>
    <%= link_to @game.link %>
  </div>

  <div class="row">
    <strong>How to Play:</strong>
    <%= @game.how_to_play%>
  </div>
</div>

<div class="row">
  <h4>Peso dos Fatores</h4>
  <hr />
</div>

<div class="container">
  <div class="row">
    <h5> Dominio de Funcionalidade </h5>
  <table>
    <thead>
      <th>Fator</th>
      <th>Peso</th>
    </thead>
    <tbody>
      <tr>
        <td>Easy of use</td>
        <td><%= @game.easy_of_use %></td>
      </tr>
      <tr>
        <td>Content Quality</td>
        <td><%= @game.content_quality %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<br />

<div class="container">
  <div class="row">
    <h5> Dominio de Eficiência</h5>
    <table>
      <thead>
        <th>Fator</th>
        <th>Peso</th>
      </thead>
      <tbody>
        <tr>
          <td>Versatility</td>
          <td><%= @game.versatility %></td>
        </tr>
        <tr>
          <td>Pedagogical aspects</td>
          <td><%= @game.pedagogical_aspects %></td>
        </tr>
        <tr>
          <td>Didactical resources</td>
          <td><%= @game.didactical_resources %></td>
        </tr>
        <tr>
          <td>Stimulates the initiative and self learning</td>
          <td><%= @game.stimulates_the_initiative_and_self_learning %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />

<div class="container">
  <div class="row">
    <h5>Domínio de Adaptabilidade</h5>
    <table>
      <thead>
        <th>Fator</th>
        <th>Peso</th>
      </thead>
      <tbody>
        <tr>
          <td>Audiovisual quality</td>
          <td><%= @game.audiovisual_quality %></td>
        </tr>
        <tr>
          <td>Technical and static elements</td>
          <td><%= @game.technical_and_static_elements %></td>
        </tr>
        <tr>
          <td>Navigation and interaction</td>
          <td><%= @game.navigation_and_interaction %></td>
        </tr>
     </tbody>
    </table>
  </div>
</div>

<div class="container center">
  <%= link_to 'Edit', edit_game_path(@game), class:'waves-light btn' %>
  <%= link_to 'Back', games_path, class:'waves-light btn' %>
</div>
