<!DOCTYPE html>
<html>
  <head>
    <title>GameEvaluation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <header>
      <%= render partial: 'layouts/topbar' %>
    </header>

    <div class="row container">
      <div class="col s12 offset-l1">
        <div class = "row">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
